header {
    background-color: rgb(255, 0, 0);
}

h1 {
    color: #FFFFFF;
    border-bottom: 2px solid;
    
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    
}

b{
    color: #2c4929;
}

.volcan{
    display: flex;

    gap: 1rem;
    
}

.volcano{
        display: grid;
        grid-template-columns: auto;

      }



img{
width: 500px;
    height: 500px;
}