header {
    background-color: rgb(255, 0, 0);
}

h1 {
    color: #FFFFFF;
    border-bottom: 2px solid;
    
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    transition(.21,.45,.76,.38)
}

h2:hover{
color: rgb(255, 0, 0);
transition: 1s ease-in-out;

}

b{
    color: #2c4929;
}

.volcan{
    display: flex;
    
    gap: 1rem;
    grid-column-start: 4;
    grid-column-end: 5;    
}

.volcano{
        display: grid;
        grid-template-columns: 400px 400px 400px;
        padding-left: 400px;
        padding-top: 50px;
        max-width: 600px;

      }


      @media screen and (max-width: 600px)
       {
        grid-template-columns: auto;
      }
.volca-grid{
    font-size: 20px;
}



img{
width: 500px;
    height: 500px;
}